{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Disaster Intelligence</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'app/content/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'app/content/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'app/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>DisasterIntelligence</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Guidance / Prediction</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>Nearby Earthquake</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>DisasterIntelligence</h1>
        <h3><i class="fa fa-location-arrow" aria-hidden="true" id="location-icon"></i>
            <tag id="location-name">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </tag>
        </h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Know fast, act fast</h2>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>API</strong>
                            </h4>
                            <p>Open data for anyone to utilize</p>
                            <a href="https://github.com/benwrk/DisasterIntelligence/blob/master/docs/Prediction-API-Doc.md" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Prediction</strong>
                            </h4>
                            <p>Predict future earthquakes</p>
                            <a href="#portfolio" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Nearby earthquake</strong>
                            </h4>
                            <p>See nearby earthquakes</p>
                            <a href="#map" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>What to do?</strong>
                            </h4>
                            <p>When there's a quake</p>
                            <a href="#deal-with" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
{#<aside class="callout">#}
{#    <div class="text-vertical-center">#}
{#        <h1>Vertically Centered Text</h1>#}
{#    </div>#}
{#</aside>#}

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Guidance / Predictions</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="http://52.163.231.25:1919/home">
                                <img class="img-portfolio img-responsive" src="{% static 'app/img/Group1.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="http://52.163.231.25:1919/In1">
                                <img class="img-portfolio img-responsive" src="{% static 'app/img/Group2.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="http://52.163.231.25:1919/calendar">
                                <img class="img-portfolio img-responsive" src="{% static 'app/img/Group3.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="http://52.163.231.25:1919/Vir">
                                <img class="img-portfolio img-responsive" src="{% static 'app/img/Group4.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
{#<aside class="call-to-action bg-primary">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#                <h3>The buttons below are impossible to resist.</h3>#}
{#                <a href="#" class="btn btn-lg btn-light">Click Me!</a>#}
{#                <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</aside>#}

<!-- Map -->
<section id="contact" class="map" style="border-top: 1px solid black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Nearby earthquake</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    {#    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">#}
    <div id="map" class="col-md-6 col-xs-12" style="po"></div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group" class="col-md-6" style="width: 50%">
            <label for="sel1">Radius:</label>
            <select class="form-control" id="sel1">
                <option value="50">50km</option>
                <option value="200">200km</option>
                <option value="400">400km</option>
                <option value="600">600km</option>
                <option value="800">800km</option>
                <option value="1000">1000km</option>
            </select>
        </div>
        <div class="feed-text">
            <!-- start feedwind code -->
            <script type="text/javascript">document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');</script>
            <script type="text/javascript">(function () {
                var params = {
                    rssmikle_url: "http://www.seismology.tmd.go.th/feed/rss_inside.xml",
                    rssmikle_frame_width: "400",
                    rssmikle_frame_height: "400",
                    frame_height_by_article: "0",
                    rssmikle_target: "_blank",
                    rssmikle_font: "Arial, Helvetica, sans-serif",
                    rssmikle_font_size: "12",
                    rssmikle_border: "off",
                    responsive: "off",
                    rssmikle_css_url: "",
                    text_align: "left",
                    text_align2: "left",
                    corner: "off",
                    scrollbar: "on",
                    autoscroll: "off",
                    scrolldirection: "up",
                    scrollstep: "3",
                    mcspeed: "20",
                    sort: "Off",
                    rssmikle_title: "on",
                    rssmikle_title_sentence: "",
                    rssmikle_title_link: "",
                    rssmikle_title_bgcolor: "#0066FF",
                    rssmikle_title_color: "#FFFFFF",
                    rssmikle_title_bgimage: "",
                    rssmikle_item_bgcolor: "#FFFFFF",
                    rssmikle_item_bgimage: "",
                    rssmikle_item_title_length: "55",
                    rssmikle_item_title_color: "#0066FF",
                    rssmikle_item_border_bottom: "on",
                    rssmikle_item_description: "on",
                    item_link: "off",
                    rssmikle_item_description_length: "150",
                    rssmikle_item_description_color: "#666666",
                    rssmikle_item_date: "gl1",
                    rssmikle_timezone: "Etc/GMT",
                    datetime_format: "%b %e, %Y %l:%M %p",
                    item_description_style: "text+tn",
                    item_thumbnail: "full",
                    item_thumbnail_selection: "auto",
                    article_num: "15",
                    rssmikle_item_podcast: "off",
                    keyword_inc: "",
                    keyword_exc: ""
                };
                feedwind_show_widget_iframe(params);
            })();</script>
            <div style="font-size:10px; text-align:center; width:400px;"><a href="http://feed.mikle.com/"
                                                                            target="_blank" style="color:#CCCCCC;">RSS
                Feed Widget</a><!--Please display the above link in your web page according to Terms of Service.-->
            </div><!--  end  feedwind code -->
        </div>
    </div>
    {#    <br/>#}
    {#            <small>#}
    {#                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>#}
    {#            </small>#}
    {#    </iframe>#}
</section>
<section id="deal-with" class="deal-with">
    {#    <aside class="call-to-action bg-primary">#}
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center" style="color: white">
            <h2>What to do when there's a quake</h2>
            <hr class="small">
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 text-center" style="color: white">
                <p style="color: white">
                <h3>Indoor</h3>
                Stay low, stay under strong objects, such as desks or tables. Stay close to the wall, cover your face and your head.
                Avoid staying close to falling debris, or furniture that might fall over. Stay close to the corners away from windows.
                When the quake stopped, go to the rendezvous point.
                <h3>Outdoor</h3>
                Stay away from buildings, utility poles, electrical lines, trees, signs, or things that could fall over.
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 text-center" style="color: white">
                <p style="color: white">
                <h3>In a car</h3>
                Park where safe, away from buildings, escalated highways, trees, bridges, hills.
                <h3>Buried under debris</h3>
                Don't light a flame, cover your face, knock on walls to signal the others. Help the others.
                </p>
            </div>
        </div>
    </div>
    </div>
    {#    </aside>#}
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Sa-phap</strong>
                </h4>
                <p>KU
                    <br>Software and Knowledge Engineering</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i>0867850466</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:benjapol@live.com">benjapol@live.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; สภาพ Website 2016</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>

<script src="{% static 'app/scripts/xml2json.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    var geocoder;
    var map;
    var lat, log;
    function initMap() {
        $('#location-icon').hide();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 5
        });
        geocoder = new google.maps.Geocoder();
        {#        var infoWindow = new google.maps.InfoWindow({map: map});#}

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        lat = position.coords.latitude;
                        log = position.coords.longitude;
                        addSelection(position.coords.latitude, position.coords.longitude);
                        codeLatLng(position.coords.latitude, position.coords.longitude);
                        function codeLatLng(lat, lng) {

                            var latlng = new google.maps.LatLng(lat, lng);
                            geocoder.geocode({'latLng': latlng}, function (results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    {#                                    console.log(results)#}
                                    if (results) {
                                        $('#location-name').text(results[0].address_components[4].long_name + ', ' + results[0].address_components[6].long_name);
                                        $('#location-icon').show();
                                    } else {
                                        alert("No results found");
                                    }
                                } else {
                                    alert("Geocoder failed due to: " + status);
                                }
                            });
                        }

                        map.setCenter(pos);
                        var marker = new google.maps.Marker({position: pos});
                        marker.setMap(map);
                    }

                    ,
                    function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
    }
    function setMarkers(map, beaches, distance) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
            url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(20, 32),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < beaches.length; i++) {
            var beach = beaches[i];
            var marker = new google.maps.Marker({
                position: {lat: parseFloat(beach[1]), lng: parseFloat(beach[2])},
                map: map,
                icon: image,
                shape: shape,
                title: beach[0],
                zIndex: beach[3]
            });
            var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h3 id="firstHeading" class="firstHeading">' + beach[6] + '</h3>' +
                    '<div id="bodyContent">' +
                    '<p><b>' + beach[5] + ' richter</b>, ' + beach[4] + ' m. deep, at ' + beach[7] +
                    '</p>' +
                    '</div>' +
                    '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

{#            marker.addListener('click', function () {#}
{#                infowindow.open(map, marker);#}
{#            });#}
            google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
                return function () {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                };
            })(marker, contentString, infowindow));

            console.log(beaches);
            if (distance == 50 && beaches.length != 0 && beaches[0][7].includes("2016-10-9")) {
                console.log('innnnnn');
                for (var i = 0; i < beaches.length; i++) {
                    console.log(beaches[i]);
                    notifyMessage(beaches[i]);
                }

            }
        }
    }
    $('document').ready(function () {
        {#        notifyMessage('Gooooo');#}

    });

    function getNearByEarthquake(distance, lat, log) {
        $.ajax({
            {#            for fake data 'fake_conv' #}
            {#            real data 'get_lat_lon'#}
            url: "{% url 'home:get_lat_lon' %}",
            type: "GET",
            data: {'distance': distance, 'lat': lat, 'lon': log},
            success: function (json) {
                var conv = json.content['conv'];
                if (json.content['result']) {
                    console.log('Login Sucess!!!');
                    setMarkers(map, conv, distance);
                } else {
                    console.log('Login Fail!!!');
                }
            },
            error: function () {

            }
        });
    }

    function addSelection(lat, log) {
        var distance = 50;
        $('#sel1').on('change', function () {
            distance = this.value;
            console.log(distance);
            getNearByEarthquake(distance, lat, log);
        })

        getNearByEarthquake(distance, lat, log);
    }

    function notifyMessage(message) {
        // Let's check if the browser supports notifications
        if (!("Notification" in window)) {
            alert("This browser does not support desktop notification");
        }

        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {
            // If it's okay let's create a notification
            var options = {
                body: " " + message[5] + " richter less than 50km" + message[7],
                icon: '../static/app/img/danger-512.png'
            }
            var notification = new Notification(message[6], options);
        }

        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    var notification = new Notification(message);
                }
            });
        }
    }

    function checkNearByEarthQuake() {
        {#        var notification = window.webkitNotifications.createNotification(#}
        {#                'https://cdn1.iconfinder.com/data/icons/toolbar-signs/512/danger-512.png',  // icon url - can be relative#}
        {#                'Hello!',  // notification title#}
        {#                'Lorem ipsum...'  // notification body text#}
        {#        );#}


    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt3a5HcKoO3GU9gMsY2A6d0zjWpLXGkvE&callback=initMap">
</script>
</body>

</html>
